.store {
    &Wrapper {
        background-color: #fff;
        text-align: center;

        h2 {
            @include title;
        }
    }

    &List {
        display: inline-block;
        max-width: 1000px;
        margin: 0 auto;
        padding: 30px 0;
        font-size: 0;

        li {
            display: inline-block;
            position: relative;
            margin-left: 10px;
            vertical-align: top;

            &:first-child {
                margin-left: 0;
            }

            .imgWrap {
                display: inline-block;
                overflow: hidden;
                position: relative;
                width: 110px;
                height: 110px;
                background-color: $borderColor;
                vertical-align: top;
                border-radius: 60px;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            a {
                display: block;
            }

            strong {
                display: block;
                margin-top: 20px;
                text-align: center;
                color: #333;
                font-size: 16px;
                font-weight: $normalWeight;
            }
        }
    }
}