.category {
    &-wrapper {
        border-bottom: 1px solid $borderColor;
        text-align: center;
    }

    &-list {
        display: inline-block;
        position: relative;
        vertical-align: top;
    }

    &-best,
    &-sub {
        padding: 20px 0 18px;
        font-size: 0;

        li {
            display: inline-block;
            position: relative;
            margin-left: 20px;
            vertical-align: top;

            &:first-child {
                margin-left: 0;
            }
        }

        a {
            display: inline-block;
            color: #333;
        }

        strong {
            font-weight: $normalWeight;
            font-size: 16px;
        }
    }

    &-best {
        width: 825px;
        text-align: left;
    }

    &-sub {
        width: 175px;
        text-align: right;

        &:before {
            content: "";
            position: absolute;
            top: 20px;
            left: -30px;
            width: 1px;
            height: 15px;
            background-color: $borderColor;
        }

    }
}