/* 관심사 영역 */

.interest_wrap {
    width: 720px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #ddd;
    background-color: #eee;
}

.interest_wrap * {
    box-sizing: border-box;
}

.title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

.interest {
    overflow: hidden;
    padding: 5px;
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 0;
}

.interest>* {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.list_interest {
    overflow: hidden;
}

.item_interest {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 5px;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #1D4CD8;
    background-color: rgba(175, 192, 245, 0.3);
    border-radius: 3px;
}

.item_erase {
    display: inline-block;
    padding: 4px;
    margin-left: 5px;
    border-radius: 3px;
    border: 1px solid #222;
    background-color: #fff;
    cursor: pointer;
}

.write_interest {
    overflow: hidden;
    width: auto;
    height: auto;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    min-width: 30px;
    border: 1px solid #000;
}